:root {
    --main-green: #005A4E;
    --main-purp: #21005A;
    --main-white: #ffffff;

  }

  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  } 


  .mainBTN{
    background-color: var(--main-purp);
    width: 25vw;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 22px;
  }

.billetBTN{
    background-color: var(--main-purp);
    width: 12vw;
    height: 25px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
  }

  .billetBTN:hover{
    background-color: var(--main-white);
    color: var(--main-green);
  }

  .billetBTN:hover{
    background-color: var(--main-white);
    color: var(--main-green);
  }




  @media screen and (min-width: 768px) {
    .mainBTN{
      width: 25vw;
    }

  }