:root {
    --main-green: #005A4E;
    --main-purp: #21005A;
  }


.bottom-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.soMeIcon{
    font-size: 62px;
    margin: 1rem;
}

.copyright-container{
    display: flex;
    align-items: flex-end;
}