:root {
    --main-green: #005A4E;
    --main-purp: #21005A;
    --main-white: #ffffff;
    --main-black: #000000;
  }


  @font-face {
    font-family: viborgMain;
    src: url(../assets/ttf/Century\ Gothic.ttf);
}


* {
    font-family: viborgMain;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }



  .nav-container{
    background-color: var(--main-green);
  }

  .menu-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--main-green);
  }

  

  .main-animated-footer-container{
    width: 100%;
    background-color: var(--main-black);
    opacity: 0.9;
  }

  .footer-logo-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
  }


  .footer-items-container{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
  }


  .footerIMG{
    width: 100px;
  }


  .footer-social{
    display: flex;
    max-width: 95vw;
  }

  .main-logo{
    width: 50%;
  }

  .footer-main-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .footer-soMe i{
    font-size: 32px;
    color: var(--main-green);
  }


  .footer-items-wrapper {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 60px;
    grid-auto-flow: row;
    grid-template-areas:
      "footer-item-1 footer-item-2"
      "footer-item-3 footer-item-4"
      "footer-item-5 footer-item-6"
      "footer-item-7 footer-item-8";
  }
  
  .footer-item-5 { grid-area: footer-item-5; }
  
  .footer-item-1 { grid-area: footer-item-1; }
  
  .footer-item-2 { grid-area: footer-item-2; }
  
  .footer-item-3 { grid-area: footer-item-3; }
  
  .footer-item-4 { grid-area: footer-item-4; }
  
  .footer-item-6 { grid-area: footer-item-6; }
  
  .footer-item-7 { grid-area: footer-item-7; }
  
  .footer-item-8 { grid-area: footer-item-8; }
  
  .footer-items-wrapper a{
    font-size: 14px;
    color: var(--main-green);
    text-decoration: none;
  }

  .footer-items-wrapper li{
    list-style: none;
    width: 100%;
  }

  .footer-items-wrapper ul{
    font-size: 22px;
    font-weight: 400;
    color: var(--main-white);
    text-transform: uppercase;
    font-weight: bold;
  }

  .item{
    height: 100%;
    padding: 1rem;
  }




.fa-arrow-up{
  color: var(--main-green);


}

.arrowIcon{
  transform: rotate(180deg) !important; 
}




.icon{
  cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    font-size: 42px;
}


.slide-up {
  transition: all 0.6s ease;
  transform: translateY(100%);
  width: 100%;
  overflow: hidden;
  max-width: 100vw;
  display: none;
}

.slide-up.open {
  display: block;
transform: translateY(-50%);
}

.slide-up.fade {
animation: fadeIn 0.3s forwards;
transition: all cubic-bezier(.47,2.02,.31,-0.36);
}


@keyframes fadeIn {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}



body.disable-scroll {
  overflow: hidden;
}

body.disable-scroll .menu-container {
  pointer-events: none;
  position: fixed;
}

body.disable-scroll .menu-container .menu-wrapper {
  overflow-y: hidden;
}

body.disable-scroll .menu-container .icon {
  display: none;
}


.footer-item-7{
  
}


@media screen and (min-width: 1024px) {

  .slide-up.open{
    transform: translateY(-50%);
  }

  .footer-social{
    width: 30%;
    justify-content: space-between;
  }
  .main-animated-footer-wrapper{
    width: 100vw;
  }
  
.footer-items-wrapper {
width: 30%;
}
}