:root {
    --main-green: #005A4E;
    --main-purp: #21005A;
  }

.nav-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-wrapper img{
    width: 200px;
    cursor: pointer;
}