:root {
  --main-green: #005A4E;
  --main-purp: #21005A;
  --main-white: #ffffff;
}


* {
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--main-green);
  color: white;
}

  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .main-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 80vh;
  }
  
  .right-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 100vh;

  }

  .login-text-container{
    text-align: center;
  }
  
  .login-inputs {
    width: 80%;
    font-size: 20px;
    color: white;

  }
  
  form#login-form {
    display: flex;
    flex-direction: column;
    font-size: 26px;
  }
  
  .login-inputs input {
    height: 60px;
    border: 1px solid white;
    border-radius: 7px;
    margin: 15px 0px 15px 0px;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    
  }


  .login-inputs input::placeholder { 
    color: white;
    opacity: 1; 
  }  
  
  .login-btn button {
    width: 100%;
    background-color: var(--main-purp);
    color: white;
    border: none;
    border-radius: 7px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
  }
  
  h5.login-header {
    font-size: 22px;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .error-message {
    background-color: red;
    width: 80%;
    font-size: 25px;
    margin: 20px 0px;
    display: none;
    height: 50px;
    text-align: center;
    border-radius: 7px;
  }
  
  .error-message h5 {
    text-align: center;
  }
  
  .active {
    display: block;
    animation: moveDown 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .error-message h5 {
    font-style: italic;
    font-weight: 300;
    color: white;
    text-align: center;
  }
  
  .login-img {
    background-image: url(../assets/images/long-3.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }

  
  

  @media screen and (min-width: 1200px) {
    .login-img {
      background-size: contain;
   }

  h5.login-header{
    font-size: 28px;
  }
    
  }