:root {
    --main-green: #005A4E;
    --main-purp: #21005A;
    --main-white: #ffffff;
  }
  
  * {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: break-word;
  }

  body{
    background-color: var(--main-green);
  }


  .grid-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 67vh;
  }

  .grid-wrapper { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.35fr 0.5fr;
    background-color: var(--main-purp);
    grid-auto-flow: row;
    grid-template-areas: 
    "grid-itemName . grid-itemSeasonID"
    "grid-itemIMG grid-itemIMG grid-itemIMG"
    "grid-itemMail . grid-itemSectionNR";
    padding: 10px; 
    max-height: 75vh;
    min-height: 30vh;
    place-items: start;
    max-width: 95vw;
    min-width: 50vw;
    border-radius: 10px;
    row-gap: 0;
  }
  
  .grid-itemName {
     grid-area: grid-itemName; 
    }
  
  .grid-itemMail {
     grid-area: grid-itemMail; 
    }
  
  .grid-itemIMG {
     grid-area: grid-itemIMG;
     display: flex;
     justify-content: center;
     align-items: center; 
    width: 100%;}

  
  .grid-itemSeasonID {
     grid-area: grid-itemSeasonID;
    }
  
  .grid-itemSectionNR {
    grid-area: grid-itemSectionNR; 
    }

    .grid-itemName {
      grid-area: grid-itemName;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .grid-itemMail {
      grid-area: grid-itemMail;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }

    .grid-itemSeasonID {
      grid-area: grid-itemSeasonID;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
    }

  .grid-itemSectionNR {
    grid-area: grid-itemSectionNR;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .grid-itemIMG img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    border-radius: 10px;
  }

  @media screen and (min-width: 600px) {
    .grid-wrapper{
      height: 100%;
      font-size: 20px;
      grid-template-columns: 0.5fr 0.5fr 0.5fr;
    }

    .grid-itemMail{
      align-items: flex-start;
    }

    .grid-itemIMG img {
      width: 40%;
      height: 40%;
      object-fit: contain;
    }
  }