* {
    box-sizing: border-box;
  }
  
  .hidden {
    display: none;
  }
  
  .svg-stadium {
    width: 100%;
    margin-top: 30px;
  }
  
  .parent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15px;
  }
  
  .div1,
  .div2,
  .div3 {
    width: 150px;
    height: 250px;
  }

  .div4,
  .div5,
  .div6,
  .div7,
  .div8 {
    width: 250px;
    height: auto;
  }
  
  .div9 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 1200px;
    height: auto;
  }
  
  .bottom-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
  }
  
  .bottom-row img {
    flex-grow: 1;
    width: 100%;
    height: auto;
    margin-left: 85px;
  }


body {
    background-color: #242333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
}

.seat {
    background-color: #444451;
    height: 9.5px;
    width: 9.5px;
    margin: .6px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.seating-container {
    margin-top: 20px;
  }


.seat.selected {
    background-color: green;
}

.seat.booked {
    background-color: red;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.seat:not(.booked):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.booked):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background: black;
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
}

.row {
    display: flex;
}
/* indset billede i stedet for background */
.stadion {
    background-color: greenyellow;
    height: 50%;
    width: 100%;
    margin: 15px 0;
    transform: rotateX('-48deg');
    box-shadow: 0 3px 10px whitesmoke;
}

.currentSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    display: none; /* Hide sections by default */
  }

.section-button {
    margin-bottom: 15px;
}

#sectionL {
    .seat {
        margin-bottom: 5px;
    }
}

#sectionM {
    .seat {
        margin-bottom: 5px;
    }
}

#sectionK {
    margin-left: 0%;
    .seat {
        background-color: #444451;
        height: 13px;
        width: 18px;
        margin: 2px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

#sectionJ {
    margin-left: 0%;
    .seat {
        background-color: #444451;
        height: 16px;
        width: 13px;
        margin: 1.2px;
        margin-bottom: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

#sectionI {
    margin-left: 0%;
    .seat {
        background-color: #444451;
        height: 16px;
        width: 13px;
        margin: 1.2px;
        margin-bottom: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

#sectionH {
    margin-left: 0%;
    .seat {
        background-color: #444451;
        height: 16px;
        width: 13px;
        margin: 1.2px;
        margin-bottom: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

#sectionG {
    margin-left: 0%;
    .seat {
        background-color: #444451;
        height: 13.5px;
        width: 17px;
        margin: 2px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}