:root {
    --main-green: #005A4E;
    --main-purp: #21005A;
    --main-white: #ffffff;
  }
  
  * {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: break-word;
  }

  body {
    background-color: var(--main-green);
    overflow: scroll;
  }

  .table-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-size: 14px;
    margin-top: 50px;
  }

  .table {
    border-collapse: collapse;
  }

  #gameData{
    border: 1px solid black;
    padding: 8px;
    width: 95%;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: 599px) {
    .table-container {
      height: 60vh;
    }
  }
  @media screen and (min-width: 600px) {

    .table-container{
      font-size: 35px;
    }

    #gameData {
      padding: 15px;
    }

    #gameData th:last-child {
      display: flex;
      align-items: center;
  }


  }
  @media screen and (min-width: 768px) {

    .table-container{
      font-size: 35px;
    }

    #gameData {
      padding: 15px;
    }

    #gameData th:last-child {
      display: flex;
      align-items: center;
  }


  }